h2 {{oppskrift.title}}
div {{oppskrift.text}}
p
  | Er du sikker du ønsker å slette denne oppskriften? 
  button(ng-click='deletePost()', class="btn-danger") Ja
  |  - 
  button(ng-click='home()', class="btn") Nei