p Det finnes {{posts.length}} oppskrifter
div(ng-repeat='post in posts')
  h3 {{post.title}}
  div {{post.description}}
  a(href='readPost/{{post._id}}') Detaljer
  |  - 
  a(href='editPost/{{post._id}}') Rediger
  |  - 
  a(href='deletePost/{{post._id}}') Slett