/* app css stylesheet */
/*
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

*/

.stepinput {
    width: 80%;
    vertical-align: top;
    margin-right: 5px;
}

.ingredient {
    margin-bottom: 5px;

}

.ingredient .amount {
    width: 50px;
}

.ingredient .name {
    width: 140px;
}