/* app css stylesheet */

.login-wrapper label{
    font-size: 10px;
    width: 50px;
    display: inline;
    margin-right: 3px;
}

.login-wrapper input{
    font-size: 10px;
    width: 50px;
    display: inline;
    height: 20px;
    margin-right: 3px;
}


.login-wrapper input[type=password]{
    font-size: 10px;
    width: 50px;
    display: inline;
    height: 10px;
    margin-top: 10px;
}

.login-wrapper .btn {
    font-size: 10px;
}

.stepinput {
    width: 80%;
    vertical-align: top;
    margin-right: 5px;
}

.ingredient {
    margin-bottom: 5px;

}

.ingredient .amount {
    width: 50px;
}

.ingredient .name {
    width: 140px;
}