<div class="modal-header">
<h1>This is the title from a template</h1>
</div>
<div class="modal-body">
<p>Enter a value to pass to <code>close</code> as the result: <input ng-model="result" /></p>
</div>
<div class="modal-footer">
<button ng-click="close(result)" class="btn btn-primary" >Close</button>
</div>


<!--.modal-header-->
    <!--h1 This is the title from a jade template-->
<!--.modal-body-->
    <!--p Enter a value to pass to <code>close</code> as the result:-->
        <!--input(ng-model='result')-->
<!--.modal-footer-->
    <!--button.btn.btn-primary(ng-click="close(result)") Close-->

